.ej2{
    width: 590px;
    height: 470px;
    margin-top:18px;
    float: left;
    margin-right: 10px;
    position: relative;
}
.ej2_img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 590px;
    height: 470px;


}
.ej2_img>img{
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}
.cbl{
    width: 250px;
    height: 470px;
    position: absolute;
    top:272px;
    left: -85px;
}
.cblc{
    width:0px;
    height: 470px;
    position: absolute;
    top: 0px;
    left: 250px;
    z-index: 100;
    overflow: hidden;
}
.ej2_li{
    border-color: red !important;
}
.ej2_w{
    display: block;
    width: 24px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    text-decoration: none;
    font-size: 20px;
    z-index: 9;
    text-align: center;
    line-height: 40px;
}

.ej2_wo{
    display: block;
    width: 21px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    text-decoration: none;
    font-size: 20px;
    z-index: 9;
    text-align: center;
    line-height: 40px;
}
.ej2_ul{
    width: 252px;
    height: 22px;
    position: absolute;
    right: 304px;
    bottom: 4px;
}
.ej2_ul>li{
    list-style: none;
    width: 7px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.5);
    float: left;
    margin-right: 15px;
}
.ej2>a:hover{
    background: rgba(0,0,0,0.8);
}
.right {
    right: 0px;
}
.left {
    left: 0px;
}